.card {
    width: 50%;
    height: 20%;
    display: flex;
    text-align: left;
    border: 1px solid black;
    margin-bottom: 10px;
}

.card-body {
    padding: 10px;
    display: block;
}

.card-title {
    margin-bottom: 2px;
}

