.App {
  text-align: center;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  display: flexbox;
  flex-direction: col;
}

.card {
  height: 20%;
  display: flex;
  text-align: left;
  border: 1px solid black;
  margin-bottom: 10px;
  justify-content: center;
}

.JobCard {
  justify-content: left;
}

.card-body {
  padding: 10px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  margin-bottom: 2px;
}

.cardList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentBody {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

